/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif; /* Font lebih modern */
}

/* Terapkan background hitam ke seluruh body */
body {
  background-color: #000000;
  color: #e2cc97; /* Warna font emas */
}

/* Styling Header */
header {
  background-color: #070707; /* Sedikit variasi hitam agar ada kedalaman */
  padding: 20px;
  border-bottom: 2px solid #f10101; /* Aksen merah pada pembatas header */
}

nav a {
  color: #e2cc97; /* Font menu emas */
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
  transition: 0.3s;
}

nav a:hover {
  color: #f10101; /* Aksen merah saat di-hover */
}

/* Styling Tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #fdfcf7; /* Teks tabel putih agar mudah dibaca di atas background hitam */
}

th,
td {
  border: 1px solid #e2cc97; /* Border tabel warna emas */
  padding: 12px;
  text-align: left;
}

th {
  background-color: #000000;
  color: #e2cc97; /* Header tabel emas */
}

/* Aksen tambahan untuk status/tombol */
.status-kritis {
  color: #f10101; /* Merah untuk status kritis */
  font-weight: bold;
}
